/*.start:hover ul.listing{
  max-height: inherit;
  opacity: 1;
}

.listing{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease;
}*/

ul ul{
    display: none;
}
li:hover >  ul {
    display: block;
}

.item{
    height: 100px;
    width:100px;
    background-color: beige;
    text-align: center;
    display: inline-block;
    margin: -5px;
}
